footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 1rem;
  padding: 1.25rem 2rem 1rem;
  background-color: rgba(#27201a, 0.65);
  color: $light-gold;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url("../gnarlyknots/images/wood-background.jpg");
    background-position: center 70%;
    background-attachment: fixed;
    z-index: -1;
  }
}

.testimonials {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  h3 {
    position: absolute;
    top: -32px;
    left: 50%;
    font-size: 3.25rem;
    transform: translateX(-50%);
    z-index: 2;
    color: $light-gold;
    width: 100%;
  }

  .stars {
    color: $rich-gold;
    margin-bottom: 1rem;
    font-size: 1.45rem;
  }

  .testimonial {
    position: relative;
    flex-grow: 1;
    text-align: center;
    padding: 5rem 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
      url("../gnarlyknots/images/TBG-120.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 25%;
    transition: transform 300ms ease;

    @media screen and (max-width: $screen) {
      width: 50%;
      height: 250px;
    }

    &:hover {
      transform: scale(1.2);
      position: relative;
      z-index: 2;

      .testimonial-title {
        color: $gold;
      }
    }

    &:nth-child(2) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
        url("../gnarlyknots/images/TBG-118.jpeg");
    }
    &:nth-child(3) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
        url("../gnarlyknots/images/salt.jpeg");
    }
    &:nth-child(4) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
        url("../gnarlyknots/images/TBG-097.jpeg");
    }

    .testimonial-title {
      text-transform: uppercase;
      transform: skewY(-5deg);
      font-size: 2rem;
      line-height: 100%;

      @media screen and (max-width: $tablet) {
        font-size: 1.5rem;
      }
    }
  }
}
