body {
  background-color: $light-gold;
}

.hero {
  height: 820px;
  position: relative;
  z-index: 2;
  // overflow: hidden;

  // @media screen and (max-width: $tablet) {
  //   height: 90vh;
  // }

  .hero-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../gnarlyknots/images/gnarly-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba($rich-brown, 0.35);
    }
  }
}

.hero-watermark {
  max-width: 900px;
  padding: 0 24px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);

  svg,
  svg * {
    font-family: "Helserif" !important;
    width: 100%;
    height: 320px;
  }
}

.gnarly-watermark {
  text-shadow: 0 0 45px rgba(0, 0, 0, 0.85);
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.hero-info {
  margin: 2rem auto 0;
  background-color: rgba($gold, 0.8);
  width: 100%;
  border-radius: 15px;
  font-weight: 200;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $ipad) {
    display: block;
    padding: 0.75rem 1.5rem;
    text-align: center;
    max-width: 500px;
    width: 100%;

    .location {
      margin-bottom: 2px;

      &::before {
        margin-left: -5px;
        margin-right: -2px;
      }
    }
  }

  a {
    color: $black;
  }

  div {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: $blazeit) {
      font-size: 12px;
    }

    // &:not(:last-child) {
    //   border-bottom: 1px solid black;
    // }

    &::before {
      transform: scale(0.75);

      @media screen and (max-width: $ipad) {
        top: -10px;
      }

    }

    &.hours {
      margin-bottom: -5px;
      &::before {
        content: url("../gnarlyknots/images/clock-o.svg");
      }

      span {
        padding: 0 0.5rem 0 0.25rem;

      @media screen and (max-width:325px) {
        padding-right: 0.5rem;
      }
      }
    }

    &.location {
      &::before {
        content: url("../gnarlyknots/images/map-pin.svg");
        margin-bottom: -5px;
        margin-right: -4px;
      }
    }

    &.phone {
      margin-bottom: -3px;
      a {
        color: $black;
      }
      &::before {
        margin-bottom: -2px;
        transform: scale(0.65);
        content: url("../gnarlyknots/images/phone.svg");
      }
    }
  }
}

.section-headline {
  position: absolute;
  color: $light-gold;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 2;
  // margin-left: 1.2rem;
  transform: translateX(-50%) translateY(-50%);
  // background-color:rgba($rich-brown, 0.5);
  width: 95%;
  
  span {
    letter-spacing: 1.2rem;
    font-size: 3.5rem;
    font-family: "Rise";
    line-height: 100%;
    display: block;

    @media screen and (max-width: $blazeit) {
      letter-spacing: 2px;
      font-size: 2rem;
    }
  }
}

.about {
  // padding: 2rem 0;
  position: relative;
  z-index: 1;

  &::after {
    content:'';
    background-image: url(/wp-content/themes/gnarlyknots/images/orange-pret.svg);
    background-repeat: repeat space 80px;
    background-size: 220px 220px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $brown;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Rise";
    text-transform: uppercase;

    // span {
    //   font-family: "Rise";
    //   font-size: 3rem;
    //   transform: skewY(-1deg);
    //   display: inline-block;
    //   color: $gold;
    //   text-shadow: none;
    //   letter-spacing: 2px;
    // }
  }

  p {
    font-size: 24px;
    font-weight: 200;
    line-height: 150%;

    @media screen and (max-width: $tablet) {
      font-size: 20px;
      line-height: 130%;
    }

    @media screen and (max-width: $blazeit) {
      font-size: 16px;
      line-height: 130%;
    }
  }
}

.eat-more-pretzels {
  position: relative;
  // overflow: hidden;
  .photo-grid {
    display: flex;

    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
    }
    .grid-photo {
      width: 25%;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media screen and (max-width: $tablet) {
        width: 50%;
        height: 200px;
      }

      &:nth-child(1) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
          url('../gnarlyknots/images/TBG-295.jpg');
      }

      &:nth-child(2) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
          url('../gnarlyknots/images/TBG-290.jpg');
      }
      &:nth-child(3) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
          url('../gnarlyknots/images/TBG-277.jpg');
      }
      &:nth-child(4) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
          url('../gnarlyknots/images/TBG-272.jpg');
      }

      // max-height: 150px;
      // &:nth-child(2), &:nth-child(4) {
      //   position: relative;
      //   bottom: -20px;
      // }

      // &:nth-child(1), &:nth-child(3) {
      //   position: relative;
      //   bottom: 20px;
      // }
    }
  }
}

.section-header {
  text-align: center;
  margin-bottom: 4rem;

  h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $brown;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Rise";
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  @media screen and (max-width: $surface) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: $blazeit) {
    grid-gap: 2rem;
  }

  .card {
    color: $black;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid $light-gold;
    }

    .menu-date {
      // position: absolute;
      background-color: $gold;
      padding: 0.3rem 0.25rem 0.05rem;
      // display: block;
      // top: -1rem;
      text-align: center;
    }

    .menu-name {
      font-size: 24px;
      margin: 1.25rem 0 0.5rem;
      line-height: 100%;
    }

    .menu-desc {
      font-weight: 200;
      font-size: 18px;
    }

    .menu-day {
      font-family: "Rise";
      color: $rich-gold;
      font-size: 1.75rem;
    }

    .menu-price {
      font-family: "Rise";
      font-size: 24px;
      position: relative;
      display: inline-block;
      letter-spacing: 2px;

      &::before {
        content: "$";
        font-size: 14px;
        position: absolute;
        top: 0;
        left: -10px;
      }
    }
  }
}

.everyday-pretzels {
  position: relative;

  &::after {
    content:'';
    background-image: url(/wp-content/themes/gnarlyknots/images/orange-pret.svg);
    background-repeat: repeat space 80px;
    background-size: 220px 220px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
  }

  .card {
    text-align: center;
  }

  .menu-image {
    width: 200px;
    margin: 0 auto;


    img {
      border-radius: 50px;
    }
  }
}

.daily-designated-pretzels {
  position: relative;

  &::after {
    content:'';
    background-image: url(/wp-content/themes/gnarlyknots/images/orange-pret.svg);
    background-repeat: repeat space 80px;
    background-size: 220px 220px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
  }
  .cards {
    @media screen and (max-width: $mac) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
    }

  }

  .card {
    padding: 2rem 3rem;
    box-shadow: 9px 8px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;

    @media screen and (max-width: $blazeit) {
      padding: 2rem;
    }

    .card-header {
      border-bottom: 1px solid $gold;
    }

    .menu-name {
      position: relative;
      &::before {
        // content:'';
        position: absolute;
        top: -1rem;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: $rich-gold;
      }
    }

    &:last-child {
      // background-color: tomato;
      position: relative;
      padding: 2rem calc(3rem - 5px);

      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 7px;
        width: 100%;
        animation: rainbow 2.5s linear;
        animation-iteration-count: infinite;
        z-index: 1;
      }
      &::after {
        top: auto;
        bottom: 0;
      }
    }
  }
}

@keyframes rainbow{
  100%,0%{
    background-color: rgb(255,0,0);
  }
  8%{
    background-color: rgb(255,127,0);
  }
  16%{
    background-color: rgb(255,255,0);
  }
  25%{
    background-color: rgb(127,255,0);
  }
  33%{
    background-color: rgb(0,255,0);
  }
  41%{
    background-color: rgb(0,255,127);
  }
  50%{
    background-color: rgb(0,255,255);
  }
  58%{
    background-color: rgb(0,127,255);
  }
  66%{
    background-color: rgb(0,0,255);
  }
  75%{
    background-color: rgb(127,0,255);
  }
  83%{
    background-color: rgb(255,0,255);
  }
  91%{
    background-color: rgb(255,0,127);
  }
}

.daily-soups {
  background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url("../gnarlyknots/images/soup-pic.jpg");
  background-size: cover;
  background-position: center;

  h3 {
    color: $gold;
  }

  p {
    max-width: 600px;
    margin: 0 auto;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: 29%;

      @media screen and (max-width: $ipad) {
        width: 45%;
      }


      @media screen and (max-width: $surface) {
        width: 100%;
      }

      &:last-child {
      .menu-day {
        color: #f6e8c1;
      }
    }
    }
  }

  p,
  .card {
    color: white;
  }
}

.sauces {
  background-image: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url("../gnarlyknots/images/sauce-pic.jpg");
  background-size: cover;
  background-position: center 70%;

  h3 {
    color: $rich-gold;
  }

  p {
    color: white;
  }

  .cards {
    // grid-template-columns: repeat(4, 1fr);

    // @media screen and (max-width: $tablet) {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    .card {
      text-align: center;
      color: white;

      .menu-name {
        color: $gold;
      }
    }
  }
}

.preorder-specials {
  position: relative;

  &::after {
    content:'';
    background-image: url(/wp-content/themes/gnarlyknots/images/orange-pret.svg);
    background-repeat: repeat space;
    background-size: 220px 220px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
  }
  img {
    width: 100%;
    height:230px;
    object-fit: cover;
  }
  .menu-price {
    margin-top: 0.25rem;
    margin-left: 0.75rem;
  }
}

.chips {
  background-image: linear-gradient(rgba($gold, 0.8), rgba($gold, 0.8)), url("../gnarlyknots/images/TBG-314.jpg");
  background-size: cover;
  background-position: center 70%;
  background-color: $light-gold;
  
  .container {
    padding-bottom: 9rem;

    @media screen and (max-width: $tablet) {
      padding-bottom: 1rem;
    }
  }


  h3 {
    color: white;
    line-height: 100%;
  }

  .cards {
    display: flex;
    transform: translateY(-40px);
    grid-gap: 0;

    @media screen and (max-width: $tablet) {
      display: block;
    }

    .card {
      width: 33.333%;
      position: relative;
      background-color: $white;
      padding-bottom: 0;
      max-width: 450px;

      @media screen and (max-width: $tablet) {
        width: 100%;
        transform: none !important;
        margin: 0 auto 2rem;
      }

      &:nth-child(1) {
        transform: rotate(-10deg) translateY(60px) translateX(50px);
      }

      &:nth-child(2) {
        .shop-image {
          background-image: url("../gnarlyknots/images/TBG-268.jpg");
        }
      }

      &:nth-child(3) {
        transform: rotate(10deg) translateY(60px) translateX(-50px);
        .shop-image {
          background-image: url("../gnarlyknots/images/TBG-132.jpg");
        }
      }
    }
  }
  .shop-image {
    width: 100%;
    height: 400px;
    background-image: url("../gnarlyknots/images/TBG-298.jpg");
    background-size: cover;
    background-position: center center;
    border: 25px solid white;
    box-shadow: 9px 8px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);

    @media screen and (max-width: $screen) {
      height: 200px;
    }
  }
  .shop-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
  }


}
