header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0.75rem 30px;
  transition: background 300ms ease;
  opacity: 0;
  animation: fadeIn 1s ease 3s forwards;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    padding: 0.75rem 30px 0.5rem;
  }
}

.scrolling {
  header {
    background-color: rgba($gold, 0.8);
  }
  .main-menu {
    a {
      color: black;

      &:hover {
        color: $rich-brown;
      }
    }
  }

  .sub-menu {
    &::before {
      color: $white !important;
    }
  }
}

.main-menu {
  display: flex;
  width: 33.333%;

  @media screen and (max-width: $tablet) {
    width: auto;
  }

  > ul {
    li:first-child {
      @media screen and (min-width: $tablet) {
        display: none;
      }
    }

    li:nth-child(2) {
      a {
        padding-left: 1rem;

        @media screen and (min-width: $tablet) {
          padding-left: 0;
        }
      }
    }
  }
  .menu-item-menu {
    position: relative;
    padding-right: 1rem;
  }

  .sub-menu {
    position: absolute;
    width: 200px;
    border-radius: 10px;
    top: calc(100% - 11px);
    left: 0;

    &:hover {
      padding: 1rem 0 0.65rem;
      background-color: rgba($gold, 0.95);
      z-index: 5;

      &::before {
        color: $light-gold;
      }
      
      li {
        visibility: visible;
        pointer-events: auto;
      }
    }

    li {
      visibility: hidden;
      pointer-events: none;
      a {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: $black;

        &:hover {
          color: $white;
        }
      }
    }

    &::before {
      content: "›";
      // background-color: red;
      width: 15px;
      height: 25px;
      color: $gold;
      font-size: 34px;
      position: absolute;
      top: -21px;
    left: 72px;
      transform:rotate(90deg);
    }
  }

  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: 200;
    color: white;
    font-size: 18px;
    transition: color 300ms ease;

    &:hover {
      color: $gold;
    }
  }
}

.logo {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  line-height: 90%;

  @media screen and (max-width: $tablet) {
    display: none;
  }

  a {
    color: #fffae5;
    position: relative;
    top: 2.5px;

    &:hover {
      color: white;

      &::before {
        transform: translateX(-50%) scale(1.4);
      }
    }

    &::before {
      content: url("../gnarlyknots/images/orange-pret.svg");
      height: auto;
      position: absolute;
      top: -3px;
      left: 50%;
      z-index: -1;
      opacity: 0.75;
      transition: transform 300ms ease;
      transform: translateX(-50%) scale(1.5);
    }
  }
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.33%;
  position: relative;

  @media screen and (max-width: $tablet) {
    width: auto;
    margin-bottom: -30px;
    margin-top: -6px;
  }

  &:hover {
    z-index: 4;
  }

  a {
    width: 34px;
    height: 34px;
    display: block;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 50px;
    text-align: center;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem 1rem;
    transition: background 300ms ease;

    &:last-child {
      margin-right: 0;

      @media screen and (max-width: $tablet) {
        margin-right: 1rem;
      }
    }

    &:hover {
      background-color: $gold;
    }

    img {
      height: 15px;
      width: auto;
    }
  }
}
