.saturday-slider {
  width: 100%;
  height: auto;
  max-width: 220px;
  margin: 0 auto;

  @media screen and (max-width: $mac) {
    max-width: 600px;
  }

  @media screen and (max-width: $tablet) {
    max-width: 325px;
  }

  @media screen and (max-width: $blazeit) {
    max-width: 180px;
  }
}

.saturday-slide {
  max-width: 228px;
  padding: 0 5px;

  @media screen and (max-width: $mac) {
    max-width: 600px;
  }

  @media screen and (max-width: $tablet) {
    max-width: 325px;
  }

  @media screen and (max-width: $blazeit) {
    max-width: 180px;
  }
}

.slick-prev,
.slick-next {
  background-color: $gold !important;
  z-index: 999;
}

.slick-prev {
  left: -65px !important;
  width: 30px !important;
  height: 30px !important;
}

.slick-next {
  right: -65px !important;
  width: 30px !important;
  height: 30px !important;
}
